.jumbotron {
    box-shadow: none;
    background: lighten(#37479F, 15%);
    color: white;
    min-height: 300px;
    margin: 15px 0px;

    h1 {
      font-size: 34px;
      margin-bottom: 10px;
    }
  
    h3 {
      font-size: 19px;
    }
  
    h1,
    h3{
      text-align: center;
      font-weight: 100;
    }
  }

  body{
    overflow-x: hidden;
    overflow-y: auto;
  }

  .veld{
    background-image: url('../../../assets/pitch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 150vh;
    width: 100%;
  }

  .card {
    max-width: 200px;
  }

  mat-card-image{
    max-height: 100px;
  }

  .col-md-3{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  
  .col-md-4{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .col-md-6{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .icon {
    padding: 0 0px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }