.jumbotron {
    box-shadow: none;
    background: lighten(#37479F, 15%);
    color: white;
    min-height: 300px;
    margin: 15px 0px;

    h1 {
      font-size: 34px;
      margin-bottom: 10px;
    }
  
    h3 {
      font-size: 19px;
    }
  
    h1,
    h3{
      text-align: center;
      font-weight: 100;
    }
  }

  .veld{
    background-image: url('../../../assets/pitch.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: scroll;
    height: 100%;
    width: 100%;
  }

  .row{
    margin: 0;
  }
  .card {
    max-width: 200px;
  }

  img.mat-card-image {
    max-height: 150px;
  }

  mat-card{
    margin: 20px !important;
  }

  .col-md-3{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  
  .col-md-4{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .col-md-6{
    display: flex;
  justify-content: center;
  align-items: center;
  }

  .icon {
    padding: 0 0px;
  }
  
  .spacer {
    flex: 1 1 auto;
  }