<div *ngIf="!hasDreamteam" class="mt-2 container">
  <div class="row">
    <div class="col-md-12 justify-content-center d-flex">
      <h1>Maak je eigen dreamteam!</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <mat-card class="jumbotron">
        <div *ngIf="!started" class="row mt-5">
          <div class="col-md-12">
            <h1 style="font-size: 28px;">Get started!</h1>
          </div>
          <div class="col-md-12">
            <h3>Klik op de knop hieronder om te beginnen met je eigen dreamteam samen te stellen!</h3>
          </div>
          <div class="col-md-2 offset-md-5 mt-2">
            <button (click)="onBegin()" style="width: 100%;" mat-raised-button>Begin</button>
          </div>
        </div>
        <div *ngIf="started" class="row mt-2">
          <div class="col-md-12">
            <h1 style="font-size: 28px;">Team naam</h1>
            <h3>Geef jouw team een unieke naam!</h3>
          </div>
          <div class="col-md-4 offset-md-4 mt-2">
            <form [formGroup]="titleForm" (ngSubmit)="onSubmit()">
              <mat-form-field style="width: 100%;" appearance="outline">
                <mat-label>Team naam</mat-label>
                <input formControlName="title" matInput placeholder="Team naam">
              </mat-form-field>
              <p><button mat-raised-button color="primary" type="submit"
                  [disabled]="!titleForm.valid || submitted">Submit</button></p>
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>

<div #test *ngIf="hasDreamteam">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="transparent">
        <mat-toolbar-row>
          <h1 style="text-align: center; width: 100%; font-size: 40px; font-weight: 100;">{{ dreamteam.naam }}</h1>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="!andereGebruiker">
          <span style="text-align: center; width: 100%;">
            <button color="primary" (click)="zoekTeams()" mat-stroked-button>
              <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">search</mat-icon>
            </button> &nbsp;
            <button color="primary" (click)="clickEdit()" mat-stroked-button>
              <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">edit</mat-icon>
            </button> &nbsp;
            <button color="primary" mat-stroked-button (click)="clickDelete()">
              <mat-icon class="icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
            </button>
          </span>
        </mat-toolbar-row>
        <mat-toolbar-row *ngIf="andereGebruiker">
          <span style="text-align: center; width: 100%;">
            <button color="primary" (click)="zoekTeams()" mat-stroked-button>
              <mat-icon class="icon" aria-hidden="false" aria-label="Example heart icon">keyboard_backspace</mat-icon>
            </button>
          </span>
        </mat-toolbar-row>
      </mat-toolbar>
    </div>
  </div>

  <!-- doelman -->
  <div class="row ">
    <div class="col-md-12 veld">
      <div class="row">
        <div class="col-md-6 offset-md-3">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[0].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[0].naam }}</mat-card-title>
              <mat-card-subtitle>Doelman</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <!-- verdediging -->
      <div class="row">
        <div class="col-md-3">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[1].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[1].naam }}</mat-card-title>
              <mat-card-subtitle>Verdediger</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[2].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[2].naam }}</mat-card-title>
              <mat-card-subtitle>Verdediger</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[3].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[3].naam }}</mat-card-title>
              <mat-card-subtitle>Verdediger</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-3">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[4].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[4].naam }}</mat-card-title>
              <mat-card-subtitle>Verdediger</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <!-- middenveld -->
      <div class="row">
        <div class="col-md-4">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[5].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[5].naam }}</mat-card-title>
              <mat-card-subtitle>Middenvelder</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[6].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[6].naam }}</mat-card-title>
              <mat-card-subtitle>Middenvelder</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[7].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[7].naam }}</mat-card-title>
              <mat-card-subtitle>Middenvelder</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>

      <!-- aanval -->
      <div class="row">
        <div class="col-md-4">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[8].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[8].naam }}</mat-card-title>
              <mat-card-subtitle>Aanvaller</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[9].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[9].naam }}</mat-card-title>
              <mat-card-subtitle>Aanvaller</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="col-md-4">
          <mat-card class="card mt-5 pt-5">
            <img mat-card-image [src]="spelers[10].afbeelding" alt="Player">
            <mat-card-header>
              <mat-card-title>{{ spelers[10].naam }}</mat-card-title>
              <mat-card-subtitle>Aanvaller</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>
