<div class="mt-2 container">
  <div class="row">
    <div class="col-md-12 justify-content-center d-flex">
      <h1>Maak je eigen dreamteam!</h1>
    </div>
  </div>
  <div class="row ">
    <div class="col-md-12">
      <mat-card class="jumbotron">
        <div *ngIf="!started" class="row mt-5">
          <div class="col-md-12">
            <h1 style="font-size: 28px;">Get started!</h1>
          </div>
          <div class="col-md-12">
            <h3>Klik op de knop hieronder om te beginnen met je eigen dreamteam samen te stellen!</h3>
          </div>
          <div class="col-md-2 offset-md-5 mt-2">
            <button (click)="onBegin()" style="width: 100%;" mat-raised-button>Begin</button>
          </div>
        </div>
        <div *ngIf="started" class="row mt-2">
          <div class="col-md-12">
            <h1 style="font-size: 28px;">Team naam</h1>
            <h3>Geef jouw team een unieke naam!</h3>
          </div>
          <div class="col-md-4 offset-md-4 mt-2">
            <form [formGroup]="titleForm" (ngSubmit)="onSubmit()">
                <mat-form-field style="width: 100%;" appearance="outline">
                    <mat-label>Team naam</mat-label>
                    <input formControlName="title" matInput placeholder="Team naam">
                  </mat-form-field>
              <p><button mat-raised-button color="primary" type="submit"
                  [disabled]="!titleForm.valid || submitted">Submit</button></p>
            </form>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
