<div class="container">
  <div class="row">
    <div class="col-md-12 mt-5">
      <h1 style="text-align: center;">Wijzig jouw dreamteam!</h1>
      <p style="text-align: center;">Selecteer je dreamteam uit de lijst van je favorieten spelers!</p>
    </div>
    <div class="col-md-12">
      <form style="width: 100%;" [formGroup]="soccerForm" (ngSubmit)="onSubmit()">
        <mat-form-field class="example-full-width">
          <input formControlName="teamNaam" matInput placeholder="Team naam">
        </mat-form-field>
        <br />
        <br />
        <h3>Doelman</h3>
        <!-- doelman -->
        <mat-form-field style="width: 50%;">
          <mat-label>Doelman</mat-label>
          <mat-select formControlName="doelman">
            <mat-option *ngFor="let d of Doelmannen" [value]="d.id">
              {{d.naam}}
            </mat-option>
          </mat-select>
        </mat-form-field>
        <br />
        <br />
        <h3>Verdediging</h3>
        <!-- verdedigers -->
        <div>
          <mat-form-field style="width: 50%;">
            <mat-label>Rechtsachter</mat-label>
            <mat-select formControlName="verdediger1">
              <mat-option *ngFor="let v of Verdedigers" [value]="v.id">
                {{v.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 50%;">
            <mat-label>Verdediger 1</mat-label>
            <mat-select formControlName="verdediger2">
              <mat-option *ngFor="let v of Verdedigers" [value]="v.id">
                {{v.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 50%;">
            <mat-label>Verdediger 2</mat-label>
            <mat-select formControlName="verdediger3">
              <mat-option *ngFor="let v of Verdedigers" [value]="v.id">
                {{v.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 50%;">
            <mat-label>Linksachter</mat-label>
            <mat-select formControlName="verdediger4">
              <mat-option *ngFor="let v of Verdedigers" [value]="v.id">
                {{v.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <br />
        <h3>Middenveld</h3>
        <!-- middenvelders -->
        <div>
          <mat-form-field style="width: 33%;">
            <mat-label>Rechtse middenvelder</mat-label>
            <mat-select formControlName="middenvelder1">
              <mat-option *ngFor="let m of Middenverlders" [value]="m.id">
                {{m.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 33%;">
            <mat-label>Centraal Middenvelder</mat-label>
            <mat-select formControlName="middenvelder2">
              <mat-option *ngFor="let m of Middenverlders" [value]="m.id">
                {{m.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 33%;">
            <mat-label>Linkse middenvelder</mat-label>
            <mat-select formControlName="middenvelder3">
              <mat-option *ngFor="let m of Middenverlders" [value]="m.id">
                {{m.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
        <br />
        <br />
        <h3>Aanvallers</h3>
        <!-- aanvallers -->
        <div>
          <mat-form-field style="width: 33%;">
            <mat-label>Rechtse Aanvaller</mat-label>
            <mat-select formControlName="aanvaller1">
                <mat-option *ngFor="let a of Aanvallers" [value]="a.id">
                    {{a.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 33%;">
            <mat-label>Centraal Aanvaller</mat-label>
            <mat-select formControlName="aanvaller2">
                <mat-option *ngFor="let a of Aanvallers" [value]="a.id">
                    {{a.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field style="width: 33%;">
            <mat-label>Linkse Aanvaller</mat-label>
            <mat-select formControlName="aanvaller3">
              <mat-option *ngFor="let a of Aanvallers" [value]="a.id">
                {{a.naam}}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>


        <p>
          <button mat-raised-button color="primary" type="submit" [disabled]="!soccerForm.valid">Submit</button>
        </p>
      </form>
    </div>
  </div>
</div>
