<div class="container">
    <h1 class="mt-5 text">{{league}}</h1>
    <div class="row">
        <mat-card *ngFor="let t of teamsNotNull" (click)="teamClick(t)" class="col">
            <div>
                <img height="250" width="250" class="logo" src="{{t.strTeamBadge}}"
                    onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1280px-No_image_3x4.svg.png';" />
                <p class="text pt-3">{{t.strTeam}}</p>
            </div>
        </mat-card>
    </div>
</div>