<div class="container">
    <div class="row mt-3">
        <div class="col-md-12">
            <h1 style="text-align: center;">Zoek tussen alle dreamteams</h1>
        </div>
    </div>
    <div class="row">
        <div *ngFor="let item of teams" class="col-md-6 col-sm-12 col-lg-4 mt-3">
            <mat-card class="card">
                <mat-card-header>
                  <mat-card-title>{{item.dreamTeam.naam}}</mat-card-title>
                  <mat-card-subtitle>Dreamteam van: {{item.user.username}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content style="margin-left: 25px;">
                <p>Spelers: </p>
                  <ul>
                      <li *ngFor="let speler of item.spelers">
                        {{speler.naam}}
                      </li>
                  </ul>
                </mat-card-content>
                <mat-card-actions>
                  <button (click)="openTeam(item.user.id)" mat-button>Open</button>
                </mat-card-actions>
              </mat-card>
        </div>
    </div>
</div>