<div class="container ">
    <h1 class="text-center">Home menu</h1>
    <div class="row mt-5 ">
            <div class="col-6">
                    <mat-card>
                        <mat-card-title>Spelers</mat-card-title>
                        <button mat-button><i class="material-icons">person</i></button>
                    </mat-card>
                </div>
        <div class="col-6">
            <mat-card>
                    <mat-card-title>DreamTeam</mat-card-title>
                    <button mat-button><i class="material-icons"><i class="material-icons">group</i></i></button>
            </mat-card>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-6">
            <mat-card>
                    <mat-card-title>Favorieten</mat-card-title>
                <button mat-button><i class="material-icons"><i class="material-icons">star</i></i></button>
            </mat-card>
        </div>
        <div class="col-6">
            <mat-card>
                <button mat-button> <h3>...</h3></button>
            </mat-card>
        </div>
    </div>
</div>