<div class="container ">
  <h1 class="text-center mt-5">Home menu</h1>
  <div class="row mt-5 ">
    <div class="col-6">
      <button (click)="zoekSpelerClick()" mat-flat-button>
        <mat-card
          style="background-image: url('../../../assets/speler.jpeg'); background-size: cover; background-repeat: no-repeat; background-position-x: center; background-position-y: center;">
          <br />
          <br />
          <br />
          <mat-card-content>
            <h1>Zoek spelers</h1>
            <mat-icon class="material-icons">search</mat-icon>
          </mat-card-content>
        </mat-card>
      </button>
    </div>
    <div class="col-6">
      <button (click)="dreamteamClick()" mat-flat-button>
        <mat-card
          style="background-image: url('../../../assets/dreamteam.jpeg'); background-size: cover; background-repeat: no-repeat;">
          <br />
          <br />
          <br />
          <mat-card-content>
            <h1>Dreamteam</h1>
            <mat-icon class="material-icons">people_alt</mat-icon>
          </mat-card-content>
        </mat-card>
      </button>

    </div>
  </div>
  <div class="row mt-5">
    <div class="col-6">
      <button (click)="favoSpelerClick()" mat-flat-button>
        <mat-card
          style="background-image: url('../../../assets/favospeler.jpeg'); background-size: cover; background-repeat: no-repeat;">
          <br />
          <br />
          <br />
          <mat-card-content>
            <h1>Favoriete spelers</h1>
            <mat-icon class="material-icons">star</mat-icon>
          </mat-card-content>
        </mat-card>
      </button>

    </div>
    <div class="col-6">
      <button (click)="favoTeamClick()" mat-flat-button>
        <mat-card
          style="background-image: url('../../../assets/favoteam.jpeg'); background-size: cover; background-repeat: no-repeat;">
          <br />
          <br />
          <br />
          <mat-card-content>
            <h1>Favoriete teams</h1>
            <mat-icon class="material-icons">favorite</mat-icon>
          </mat-card-content>
        </mat-card>
      </button>
    </div>
  </div>
</div>
