<div class="container">
    <div class="row mt-5 ">
        <mat-card *ngFor="let f of favorieteSpelers" class="col">
            <img height="250" width="250" class="logo" [src]="f.afbeelding"
                onError="this.onerror=null;this.src='https://upload.wikimedia.org/wikipedia/commons/thumb/6/6c/No_image_3x4.svg/1280px-No_image_3x4.svg.png';" />
            <p class="text">{{f.naam}}</p><p class="text">Positie: {{f.positie}}</p><br/>
            <button mat-raised-button color="warn" class="logo" type="button" (click)="deleteFavSpeler(f)">Verwijderen</button>
        </mat-card>
    </div>
</div>